.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 115px;
  height: 500px;
  width: 100;
  color: #ffffff;
  background-color: #c7c7c7;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}