nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background: transparent;
  color: #ffffff;
  padding: 1.5em 1.5em;
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-family: "Bungee", cursive;
}

.navArrows {
  display: flex;
  color: #b31818;
}

.navLogo {
  display: flex;
  align-items: left;
  margin-left: 1.5em;
  color: #ffffff;
}

.write {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: right;
  margin-right: 1.5em;
}

.writeNew {
  font-weight: 300;
}
