/* Global tweet settings */

.all-tweets {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 20px;
  background-color: transparent;
}

/* New tweet settings */

.new-tweet-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  width: 20em;
  background-color: transparent;
  padding-bottom: 30px;
}

.new-tweet-text {
  display: flex;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.822);
  background: transparent;
  padding-bottom: 10px;
  width: 20em;
}

.submit-count {
  display: flex;
  justify-content: space-between;
}

.form-count {
  font-family: "Bungee", cursive;
  font-size: 1em;
  margin-right: 8px;
  margin-top: 0.6em;
}

.submit-button {
  margin-top: 10px;
  font-family: "Bungee", cursive;
  cursor: pointer;
  border: none;
  background-color: rgb(17, 17, 148);
  color: white;
}

/* Posted tweet settings */

.tweet {
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(24, 10, 102);
  padding: 10px, 10px, 10px, 10px;
  box-shadow: 1px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  word-break: break-word;
}

.tweet:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.6);
}

.posted-tweet-text {
  display: flex;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.822);
  background: transparent;
  margin: 10px;
  padding: 10px;
}

.post-tweet-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.post-user-avatar {
  height: 40px;
  width: auto;
  margin: 5px;
  border-radius: 5px;
  display: inline-flex;
}

.post-user-name {
  display: inline-flex;
  font-size: 75%;
  padding-right: 10px;
  align-items: center;
}

.post-user-handle {
  display: flex;
  float: right;
  padding-right: 10px;
  font-size: 75%;
  align-items: center;
}

/* Tweet footer settings */

.posted-tweet-buttons {
  display: inline-flex;
  justify-content: space-between;
  align-items: right;
  margin-bottom: 10px;
  margin-right: 15px;
}

.tweet-time {
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.fa-flag {
  color: rgb(17, 17, 148);
}

.fa-flag:hover {
  color: #ff4800ce;
}

.fa-retweet {
  color: rgb(17, 17, 148);
  margin-left: 10px;
  margin-right: 10px;
}

.fa-retweet:hover {
  color: #73ff00;
}

.fa-heart {
  color: rgb(17, 17, 148);
}

.fa-heart:hover {
  color: #ff0000;
}

/* Error handling settings */

.fa-exclamation {
  color: red;
  align-items: center;
  justify-content: center;
}

.red-text {
  color: red;
}

.avatar--user {
  display: flex;
  align-items: center;
}